<div class="container">
  <div class="title-route">
    <fa-icon [icon]="faRoute"></fa-icon>
    <h3>Lisboa - Oeiras</h3>
  </div>

  <div class="details-group">

    <div class="main-title">
      <fa-icon [icon]="faLocationArrow"></fa-icon>
      <h3>A sua rota</h3>
    </div>

    <div class="info">
      <div class="all-data">
        <div class="column1">
          <div class="row1">
            <fa-icon [icon]="faCoins"></fa-icon>
            <h4>30,24</h4>
          </div>
          <div class="row2">
            <fa-icon [icon]="faPiggyBank"></fa-icon>
            <h4>-2,09€</h4>
          </div>
        </div>

        <div class="column2">
          <div class="row1">
            <fa-icon [icon]="faStopwatch"></fa-icon>
            <h4>43 min</h4>
          </div>
          <div class="row2">
            <fa-icon [icon]="faCar"></fa-icon>
            <h4>2,42€</h4>
          </div>
        </div>

        <div class="chains">

          <div class="icon">
            <fa-icon [icon]="faShop"></fa-icon>
          </div>

          <div class="chain">
            <app-chain-sticker [chainId]="3" chainName="continente"></app-chain-sticker>
            <app-chain-sticker [chainId]="4" chainName="pingo doce"></app-chain-sticker>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="details-group">

    <div class="main-title">
      <fa-icon [icon]="faPiggyBank"></fa-icon>
      <h3>Maior Poupança</h3>
    </div>

    <div class="info">
      <div class="all-data">
        <div class="column1">
          <div class="row1">
            <fa-icon [icon]="faCoins"></fa-icon>
            <h4>30,24</h4>
          </div>
          <div class="row2">
            <fa-icon [icon]="faPiggyBank"></fa-icon>
            <h4>-2,09€</h4>
          </div>
        </div>

        <div class="column2">
          <div class="row1">
            <fa-icon [icon]="faStopwatch"></fa-icon>
            <h4>43 min</h4>
          </div>
          <div class="row2">
            <fa-icon [icon]="faCar"></fa-icon>
            <h4>2,42€</h4>
          </div>
        </div>

        <div class="chains">

          <div class="icon">
            <fa-icon [icon]="faShop"></fa-icon>
          </div>

          <div class="chain">
            <app-chain-sticker [chainId]="3" chainName="continente"></app-chain-sticker>
            <app-chain-sticker [chainId]="4" chainName="pingo doce"></app-chain-sticker>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="details-group">

    <div class="main-title">
      <fa-icon [icon]="faStopwatch"></fa-icon>
      <h3>Mais rápida</h3>
    </div>

    <div class="info">
      <div class="all-data">
        <div class="column1">
          <div class="row1">
            <fa-icon [icon]="faCoins"></fa-icon>
            <h4>30,24</h4>
          </div>
          <div class="row2">
            <fa-icon [icon]="faPiggyBank"></fa-icon>
            <h4>-2,09€</h4>
          </div>
        </div>

        <div class="column2">
          <div class="row1">
            <fa-icon [icon]="faStopwatch"></fa-icon>
            <h4>43 min</h4>
          </div>
          <div class="row2">
            <fa-icon [icon]="faCar"></fa-icon>
            <h4>2,42€</h4>
          </div>
        </div>

        <div class="chains">

          <div class="icon">
            <fa-icon [icon]="faShop"></fa-icon>
          </div>

          <div class="chain">
            <app-chain-sticker [chainId]="3" chainName="continente"></app-chain-sticker>
            <app-chain-sticker [chainId]="4" chainName="pingo doce"></app-chain-sticker>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

