<div class="dashboard">
  <div class="tab-wrapper">
    <div class="greeting">
      <ng-container *ngIf="userService.getCurrentUser() | async as user">
        <div class="logo">
          <img src="assets/images/gorceryroutepro_logo_white.svg"/>
        </div>
        <div class="title">
          <h3>Olá,</h3>
          <h2 *ngIf="isUser(user)">{{user!.name | truncateFirstWord}} </h2>
        </div>
        <!--        <h2 *ngIf="isUser(user) && user?.name">{{ user!.name | truncateFirstWord}}  </h2>-->
      </ng-container>
    </div>
    <fa-icon [icon]="faUserGear"></fa-icon>
    <fa-icon [icon]="faArrowRightFromBracket" (click)="logout()"></fa-icon>
  </div>

</div>

