.dashboard {
  border-radius: 0 0 15px 15px;
  background: linear-gradient(260deg, rgba(33, 158, 188, 0.89) 0%, rgba(21, 101, 192, 0.89) 98.41%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  height: 153px;
  position: relative;

  .tab-wrapper {
    display: flex;
    width: 90%;
    align-items: center;
    position: absolute;
    bottom: 41px;
    margin-left: 5%;
    margin-right: 5%;

    .greeting {
      flex-grow: 1;
      overflow: hidden;

      h2 {
        color: #FFF;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

      }
    }

    fa-icon {
      display: flex;
      width: 30px;
      height: 30px;
      color: #0F7293;
      background-color: #FFFFFF;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin-left: 13px;
      flex-shrink: 0;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      &:hover {
        cursor: pointer;
      }

    }
  }

  @media only screen and (min-width: 769px) {
    display: none;


  }

}


