.dashboard {
  display: flex;
  border-radius: 0 0 15px 15px;
  background: linear-gradient(260deg, rgba(33, 158, 188, 0.89) 0%, rgba(21, 101, 192, 0.89) 98.41%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

  .greeting-wrapper {
    .greeting {
      color: #FFF;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .button-wraper {
      margin-left: auto;

      fa-icon {
        width: 30px;
        height: 30px;
      }

    }
  }
}
