<div class="container">
  <div class="columns" *ngIf="shoppingList">
    <div class="column1">
      <div class="header">
        <h3>A sua selecção</h3>
      </div>
      <div class="price">
        <fa-icon [icon]="faCoins"></fa-icon>
        <h3>Total</h3>
        <h3 style="font-weight: 600">{{(shoppingList.cheapestListCost) | number:'1.2-2' :'pt'}} €</h3>
      </div>
      <div class="content">
        <ng-container *ngFor="let genericProductQuantity of shoppingList.genericProductQuantities">
          <app-product-card-item [genericProductQuantity]="genericProductQuantity"></app-product-card-item>
        </ng-container>
      </div>
    </div>

    <div class="column2">
      <div class="header">
        <h3>Mais barato</h3>
      </div>
      <div class="price">
        <fa-icon [icon]="faCoins"></fa-icon>
        <h3>Total</h3>
        <h3 style="font-weight: 600">{{(shoppingList.cheapestListCost) | number:'1.2-2' :'pt'}} €</h3>
      </div>
      <div class="content">
        <ng-container *ngFor="let cheapestProductQuantity of shoppingList.cheapestProductQuantities">
          <app-product-card-item [productQuantity]="cheapestProductQuantity"></app-product-card-item>
        </ng-container>
      </div>
    </div>

    <div class="column3">
      <div class="header">
        <h3>Mais rápido</h3>
      </div>
      <div class="price">
        <fa-icon [icon]="faCoins"></fa-icon>
        <h3>Total</h3>
        <h3 style="font-weight: 600">{{(shoppingList.fastestListCost) | number:'1.2-2' :'pt'}} €</h3>
      </div>
      <div class="content">
        <ng-container *ngFor="let fastestProductQuantity of shoppingList.fastestProductQuantities">
          <app-product-card-item [productQuantity]="fastestProductQuantity"></app-product-card-item>
        </ng-container>
      </div>
    </div>
  </div>
</div>

