.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  min-height: 100vh;



  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;

    .icon {
      color: #0f7293;
      position: absolute;
      left: 0;

      &:hover {
        cursor: pointer;
      }
    }

    .page-title {
      margin: 0;
    }

  }

  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    width: 100%;
    margin: 50px 0 0px 0;

    .form-field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;

      .password-container {
        width: 100%;
        position: relative;

        .password-icon {
          color: #BDBDBD;
          position: absolute;
          right: 5%;
          top: 25%;

          &:hover {
            cursor: pointer;
          }
        }

      }

      .form-label {
        font-size: 1.5em;
        align-self: flex-start;
      }

      .form-input {
        border-radius: 8px;
        font-family: 'Lato', sans-serif;
        padding: 15px;
        width: 100%;
        align-items: flex-start;
        border: none;
        background-color: #F6F6F6;

        &:focus {
          outline: solid 1px lightgrey;
        }

      }

      .ng-invalid.ng-touched.ng-dirty {
        border: solid 1px #DB3A34;
      }

    }

    .invalid-input-warning {
      display: flex;
      justify-content: flex-start;
      border-left: solid 2px #DB3A34;
      font-weight: 300;
      padding-left: 10px;
    }

  }

  .button-box{
    display: flex;
    margin-top: 150px;
    width: 100%;

  }

  @media only screen and (min-width: 768px) {
    max-width: 50%;
    min-width: 35%;
    margin: auto;
  }



}
.error-message {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DB3A34;
  width: 100%;
  height: 60px;
  color: white;
  padding: 20px;
   .message-title {
    font-weight: bold;
  }
}

.sucess-message {
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4CAF50;
  width: 100%;
  height: 60px;
  color: white;
  padding: 20px;
  flex-direction: column;
  .message-title {
    font-weight: bold;
  }
  .message-body {
    font-weight: normal;
  }
}


