.carousel {
  display: flex;
  width: 90%;
  height: 200px;
  overflow: hidden;
  margin: auto;
  justify-content: center;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  .carousel_frame {
    display: flex;
    border-radius: 8px;
    background-color: #FFFFFF;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
    flex-direction: row;
    height: 170px;
    width: 300px;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    border-left: 2px solid #4CAF50;

    &:hover {
      cursor: pointer;
    }

    &.carousel_frame:hover {
      border: 3px solid #4CAF50;
    }

    .image {
      display: flex;
      margin-top: 20px;
      width: 100px;
      height: 105px;
      align-items: center;

      img {
        width: 100%;
        height: auto;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      height: 130px;
      margin-top: 35px;
      gap: 3px;


      .title, .qntd, .price, .qntd_price {
        display: flex;
        height: 16px;
        align-items: center;
        width: 170px;
      }

      .chain {
        display: flex;
        height: 24px;
        width: 100%
      }

      .qntd, .qntd_price {
        color: #918787;
      }

      .qntd_price {
        span {
          display: flex;
        }
      }

      .price {
        display: flex;
        flex-direction: row;

        .atual_price {
          display: flex;
          margin-right: 10px;
        }

        .previous_price {
          display: flex;
          color: #918787;
          text-decoration: line-through;
        }
      }
    }

    .discount {
      display: flex;
      position: absolute;
      background-color: #4CAF50;
      top: 0;
      right: 0;
      width: 50px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      color: #FFFFFF;

    }
  }
}




