.carousel {
  width: 60%;
  height: 40%;
  fill: #FFF;
  stroke-width: 1px;
  stroke: #FFF;
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.25));
  background-color: #0F7293;
margin: auto;

  .image {

  }

  .info {
    .title {

    }

    .qntd {

    }

    .price {
      .atual_price {

      }

      .previous_price {

      }
    }

    .qntd_price {

    }

    .chain {

    }
  }

  .discount {

  }

  .slides {

  }
}
