<div class="filter">

  <div class="header">
    <fa-icon class="icon" [icon]="faArrowLeft" (click)="emitCloseEvent()"></fa-icon>
    <h1 class="page-title">Filtros</h1>
  </div>

  <div class="filter-form" [formGroup]="form">

    <div class="group">
      <div class="title"><h4>Ordenar por</h4></div>
      <div class="option">
        <div class="option-name"><h4>Preço crescente</h4></div>
        <fa-icon [icon]="sort === 'primaryPriceValue,asc' ? faCircleSolid : faCircle" (click)="setSorting('primaryPriceValue,asc')"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Preço decrescente</h4></div>
        <fa-icon [icon]="sort === 'primaryPriceValue,desc' ? faCircleSolid : faCircle"  (click)="setSorting('primaryPriceValue,desc')"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Ordem alfabética crescente</h4></div>
        <fa-icon [icon]="sort === 'name,asc' ? faCircleSolid : faCircle"  (click)="setSorting('name,asc')"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Ordem alfabética decrescente</h4></div>
        <fa-icon [icon]="sort === 'name,desc' ? faCircleSolid : faCircle"  (click)="setSorting('name,desc')"></fa-icon>
      </div>
    </div>

    <div class="group">
      <div class="title"><h4>Categorias</h4></div>
      <div class="option">
        <div class="option-name"><h4>Mercearia</h4></div>
        <fa-icon [icon]="categories.includes(1) ? faCircleSolid : faCircle"  (click)="setCategory(1)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Frutas e Legumes</h4></div>
        <fa-icon [icon]="categories.includes(2) ? faCircleSolid : faCircle" (click)="setCategory(2)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Congelados</h4></div>
        <fa-icon [icon]="categories.includes(3) ? faCircleSolid : faCircle" (click)="setCategory(3)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Laticínios e ovos</h4></div>
        <fa-icon [icon]="categories.includes(4) ? faCircleSolid : faCircle" (click)="setCategory(4)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Peixaria</h4></div>
        <fa-icon [icon]="categories.includes(5) ? faCircleSolid : faCircle" (click)="setCategory(5)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Talho</h4></div>
        <fa-icon [icon]="categories.includes(6) ? faCircleSolid : faCircle" (click)="setCategory(6)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Charcutaria</h4></div>
        <fa-icon [icon]="categories.includes(7) ? faCircleSolid : faCircle" (click)="setCategory(7)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Alternativas alimentares, bio e saudável</h4></div>
        <fa-icon [icon]="categories.includes(8) ? faCircleSolid : faCircle" (click)="setCategory(8)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Bebidas</h4></div>
        <fa-icon [icon]="categories.includes(9) ? faCircleSolid : faCircle" (click)="setCategory(9)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Padaria e pastelaria</h4></div>
        <fa-icon [icon]="categories.includes(10) ? faCircleSolid : faCircle" (click)="setCategory(10)"></fa-icon>
      </div>
    </div>

    <div class="group">
      <div class="title"><h4>Estado</h4></div>
      <div class="option">
        <div class="option-name"><h4>Aprovado</h4></div>
        <fa-icon [icon]="chains.includes(2) ? faCircleSolid : faCircle" (click)="setChain(2)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>Rejeitado</h4></div>
        <fa-icon [icon]="chains.includes(3) ? faCircleSolid : faCircle" (click)="setChain(3)"></fa-icon>
      </div>
      <div class="option">
        <div class="option-name"><h4>A aguardar</h4></div>
        <fa-icon [icon]="chains.includes(4) ? faCircleSolid : faCircle" (click)="setChain(4)"></fa-icon>
      </div>
    </div>

  </div>

  <div class="buttons">
    <fa-icon [icon]="faCircleXmark" class="xmark" (click)="emitCloseEvent()"></fa-icon>
    <fa-icon [icon]="faCircleCheck" class="check"></fa-icon>
  </div>

</div>
