<div class="desktop-dashboard">
    <div class="all-wrapper">
        <div class="logo-and-icons">

            <div class="logo">
                <img src="assets/images/gorceryroutepro_logo_white.svg"/>
            </div>

            <div class="options-wrapper">
                <div class="icons-wrapper">
                    <div class="option" [routerLink]="'/shop-dashboard'" [routerLinkActive]="'active'">
                        <fa-icon [icon]="faUser"></fa-icon>
                        <h4 class="icon-name">Dashboard</h4>
                    </div>

                    <div class="option" [routerLink]="'/shop-new-product'" [routerLinkActive]="'active'">
                        <fa-icon [icon]="faCartPlus"></fa-icon>
                        <h4 class="icon-name">Novo produto</h4>
                    </div>

                    <div class="option" [routerLink]="'/shop-notifications'" [routerLinkActive]="'active'">
                        <fa-icon [icon]="faBell"></fa-icon>
                        <h4 class="icon-name">Notificações</h4>
                    </div>

                    <div class="option">
                        <app-chain-sticker [chainId]="chainId" chainName="{{chainName}}"></app-chain-sticker>
                    </div>

                </div>
            </div>
        </div>
        <div class="greeting-and-button">
            <div class="options-wrapper">
                <div class="icons-wrapper">
                    <div class="tab-wrapper">
                        <div *ngIf="userService.getCurrentUser() | async as user" class="greeting">
                            <h3 *ngIf="isUser(user)">Olá, {{ user!.name | truncateFirstWord }} </h3>
                        </div>
                        <!--          <fa-icon [icon]="faUserGear" [mask]="faCircle" [transform]={size:8}  ></fa-icon>-->
                        <fa-icon class="icon-button" [icon]="faArrowRightFromBracket" [mask]="faCircle"
                                 [transform]={size:8}
                                 (click)="logout()"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

