<div class="container">
  <div class="header">
    <fa-icon class="icon" [icon]="faArrowLeft" [routerLink]="['/search']"></fa-icon>
    <h1 class="page-title">Detalhes</h1>
  </div>
  <div *ngIf="product && prices" class="product-summary">
    <div class="product-img" [style.background-image]="'url(' + product.imageUrl + ')'"></div>
    <div class="product-summary-text">
      <span>{{product.name}}</span>
      <span>{{prices[prices.length-1].primaryValue | number:undefined :'pt'}} €</span>
      <app-chain-sticker [chainId]="product.chain.id" [chainName]="product.chain.name"></app-chain-sticker>
    </div>
  </div>
</div>
