<app-toast *ngIf="showToast" [success]="toastBool" [message]="toastMessage"></app-toast>
<div class="container">
  <div class="header">
    <fa-icon class="icon" [icon]="faArrowLeft" [routerLink]="['/welcome']"></fa-icon>
    <h1 class="page-title">Esqueceste-te da tua password?</h1>
  </div>
  <div class="signup-form" [formGroup]="form">
    <div class="form-field">
      <label class="form-label">Email</label>
      <input class="form-input" label="email" type="email" placeholder="Introduza o seu e-mail" required
             formControlName="email"/>
      <div class="invalid-input-warning" *ngIf="form.get('email')?.invalid && form.get('email')?.dirty && form.get('email')?.touched">
        Email inválido.
      </div>
    </div>

  </div>
  <button class="dark-blue-button" (click)="Submeter()">Submeter</button>
  <div class="check-inputs-message" *ngIf="showError" @fade>
    <p class="warning-text">{{errorMessage}}</p>
  </div>
</div>
