<div class="filter">
  <h1>Filtros</h1>
  <div class="group">
    <div class="title"><h4>Ordenar por</h4></div>
    <div class="option">
      <div class="option-name"><h4>Preço crescente</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Preço decrescente</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Ordem alfabética crescente</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Ordem alfabética decrescente</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
  </div>
  <div class="group">
    <div class="title"><h4>Categorias</h4></div>
    <div class="option">
      <div class="option-name"><h4>Mercearia</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Frutas e Legumes</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Peixaria</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Talho</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Congelados</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
  </div>
  <div class="group">
    <div class="title"><h4>Superfícies</h4></div>
    <div class="option">
      <div class="option-name"><h4>Auchan</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Aldi</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Continente</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Lidl</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
    <div class="option">
      <div class="option-name"><h4>Pingo Doce</h4></div>
      <div class="circle">
        <fa-icon [icon]="faCircle"></fa-icon>
      </div>
    </div>
  </div>

  <div class="buttons">
<fa-icon [icon]="faCircleCheck"></fa-icon>
  </div>

</div>

