.filter{
  .group{
    border-bottom: 1px solid;
    .title{
      font-weight: 600;

    }
    .option{
      h4{
        font-weight: 400;
      }
      .option-name{

      }
      .circle{

      }
    }
  }
  .buttons{

  }
}
