<div class="container">

  <div class="title">
    <fa-icon [icon]="faLocationArrow"></fa-icon>
    <h3>Rota atual</h3>
    <fa-icon [icon]="faTrashCan" class="trashcan"></fa-icon>
  </div>

  <div class="info">
    <div class="all-data">
      <div class="column1">
        <div class="row1">
          <fa-icon [icon]="faCoins"></fa-icon>
          <h4>30,24</h4>
        </div>
        <div class="row2">
          <fa-icon [icon]="faPiggyBank"></fa-icon>
          <h4>-2,09€</h4>
        </div>
      </div>

      <div class="column2">
        <div class="row1">
          <fa-icon [icon]="faStopwatch"></fa-icon>
          <h4>43 min</h4>
        </div>
        <div class="row2">
          <fa-icon [icon]="faCar"></fa-icon>
          <h4>2,42€</h4>
        </div>
      </div>
    </div>

    <div class="route">
      <fa-icon [icon]="faRoute"></fa-icon>
      Lisboa - Oeiras
    </div>

    <div class="chains">
      <fa-icon [icon]="faShop"></fa-icon>
    </div>
  </div>

  <div class="check">
    <div class="button">
      <fa-icon [icon]="faCheck"></fa-icon>
      Marcar como concluída
    </div>
  </div>

</div>
