<div class="mobile_navbar">
  <div class="icons_wrapper">
    <a [routerLink]="'/dashboard'" [routerLinkActive]="'active'">
      <fa-icon [icon]="faUser"></fa-icon>
    </a>
    <a [routerLink]="'/shopping-list'" [routerLinkActive]="'active'">
      <fa-icon
      [icon]="faCartShopping"></fa-icon>
    </a>
    <a [routerLink]="'/search'" [routerLinkActive]="'active'">
      <fa-icon [icon]="faSearch"></fa-icon>
    </a>
    <a [routerLink]="'faltameter'" [routerLinkActive]="'active'">
      <fa-icon [icon]="faRoute"></fa-icon>
    </a>
  </div>
</div>

<!--TODO COLOCAR O COMPONENTE NO(S) ROUTERLINK-->
