<app-toast *ngIf="showToast" [success]="false" [message]="toastMessage"></app-toast>
<div class="container">
  <div class="header">
    <fa-icon class="icon" [icon]="faArrowLeft" [routerLink]="previousRoute"></fa-icon>
    <h1 class="page-title">Nova Rota</h1>
  </div>

  <div class="information-container">
    <div class="input-container">
      <div class="description-title">
        Local de partida <span [style.color]="'#DB3A34'"><sup>*</sup></span>
      </div>
      <div class="input-box">
        <input class="input-location"
               label="partida"
               type="text"
               placeholder="Partida"
               [formControl]="inputPartida"
               (focus)="partidaInputFocus()"
               (blur)="partidaInputBlur()"/>
        <fa-icon class="grey-icon" [icon]="faLocationDot" *ngIf="showMarkerPartida"></fa-icon>
      </div>
      <div class="autocomplete-results" *ngIf="showAutocompletePartida">
        <div class="autocomplete-results-table">
          <div class="autocomplete-results-ngfor"
               *ngFor="let result of partidaResults"
               (click)="onClickPartida(result)">
            {{result.description}}
          </div>
        </div>
      </div>
    </div>

    <div class="input-container">
      <div class="description-title">
        Local de destino <span [style.color]="'#DB3A34'"><sup>*</sup></span>
      </div>
      <div class="input-box">
        <input class="input-location"
               label="destino"
               type="text"
               placeholder="Destino"
               [formControl]="inputDestino"
               (focus)="destinoInputFocus()"
               (blur)="destinoInputBlur()"/>
        <fa-icon class="grey-icon" [icon]="faLocationDot" *ngIf="showMarkerDestino"></fa-icon>
      </div>
      <div class="autocomplete-results" *ngIf="showAutocompleteDestino">
        <div class="autocomplete-results-table">
          <div class="autocomplete-results-ngfor"
               *ngFor="let result of destinoResults"
               (click)="onClickDestino(result)">
            {{result.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div id="map"></div>-->
  <google-map class="map"
              [height]="height"
              [width]="width"
              [center]="center"
              [zoom]="zoom"
              (mapClick)="moveMap($event)"
              (mapMousemove)="move($event)"
              [options]="mapsOptions">
    <ng-container *ngFor="let marker of markerOptions">
      <map-marker
        [options]="marker"
      ></map-marker>
    </ng-container>
  </google-map>
  <div class="info">
    <p class="grey-text align-left"><span [style.color]="'#DB3A34'"><sup>*</sup></span>Campos obrigatórios</p>
  </div>
  <div class="button-container">
    <div class="clear-button dark-blue-text" (click)="criarRota()">
      <fa-icon [icon]="faRoute"></fa-icon>
      <span>Gerar rotas</span>
    </div>
  </div>
</div>


