<div class="container">
  <div class="wrapper">
    <div class="title">

    </div>

    <div class="row-details">

      <div class="column">
        <div class="icon-column">
          <fa-icon [icon]="faCoins"></fa-icon>
        </div>
        <div class="data-column">
          <div class="first-row">
            <h5>total:</h5>
          </div>
          <div class="second-row">
            <h4>32,33€</h4>
          </div>
        </div>
      </div>


      <div class="column">
        <div class="icon-column">
          <fa-icon [icon]="faCoins"></fa-icon>
        </div>
        <div class="data-column">
          <div class="first-row">
            <h5>total:</h5>
          </div>
          <div class="second-row">
            <h4>32,33€</h4>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="icon-column">
          <fa-icon [icon]="faCoins"></fa-icon>
        </div>
        <div class="data-column">
          <div class="first-row">
            <h5>total:</h5>
          </div>
          <div class="second-row">
            <h4>32,33€</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="chains">
      <div class="label-column">
        <h5>lojas:</h5>
      </div>
      <div class="chains-column">
        <app-chain-sticker></app-chain-sticker>
        <app-chain-sticker></app-chain-sticker>
        <app-chain-sticker></app-chain-sticker>
      </div>
    </div>

    <div class="map">

    </div>

    <div class="map">

    </div>

  </div>
</div>
