<div class="container" (click)="openRoutes()">
  <div class="wrapper">

    <div class="title">
      <fa-icon [icon]="faLocationArrow"></fa-icon>
      <h3>{{titleCard}}</h3>
    </div>

    <div class="row-details">

      <div class="column">
        <div class="icon-column">
          <fa-icon [icon]="faCoins"></fa-icon>
        </div>
        <div class="data-column">
          <div class="first-row">
            <h5>total:</h5>
          </div>
          <div class="second-row">
            <h4>{{custo | number : undefined : 'pt' }} €</h4>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="icon-column">
          <fa-icon [icon]="faPiggyBank"></fa-icon>
        </div>
        <div class="data-column">
          <ng-container *ngIf="titleCard === 'Maior poupança'">
          <div class="first-row">
            <h5>poupas:</h5>
          </div>
          <div class="second-row">
            <h4 class="green-text">{{savings | number : undefined : 'pt' }}€</h4>
          </div>
          </ng-container>
          <ng-container *ngIf="titleCard === 'Mais rápida'">
            <div class="first-row">
              <h5>gastas:</h5>
            </div>
            <div class="second-row">
              <h4 class="red-text">+{{savings | number : undefined : 'pt' }}€</h4>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="column">
        <div class="icon-column">
          <fa-icon [icon]="faStopwatch"></fa-icon>
        </div>
        <div class="data-column">
          <div class="first-row">
            <h5>tempo:</h5>
          </div>
          <div class="second-row">
            <h4>{{totalTime}} min</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="chains">
      <div class="label-column">
        <h5>Lojas:</h5>
      </div>
      <div class="chains-column">
        <ng-container *ngIf="chainList">
          <ng-container *ngFor=" let chain of chainList">
            <app-chain-sticker [chainId]="chain.id" chainName="{{chain.name}}"></app-chain-sticker>
          </ng-container>
        </ng-container>
      </div>
    </div>



    <div class="map" *ngIf="showMap">
      <google-map class="map"
                  [height]="height"
                  [width]="width"
                  [center]="center"
                  [zoom]="zoom"
                  (mapClick)="moveMap($event)"
                  (mapMousemove)="move($event)"
                  [options]="mapsOptions">
        <ng-container *ngFor="let marker of markerOptions">
          <map-marker
            [options]="marker"
          ></map-marker>
          <map-polyline [path]="vertices" [options]="polylineOptions"></map-polyline>
        </ng-container>
      </google-map>
    </div>

    <button type="submit" class="btn btn-primary" (click)="buildMapsUrl()">
      <fa-icon [icon]="faLocationArrow"></fa-icon>
      <h3>Iniciar viagem</h3>
    </button>

  </div>
</div>
