.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .scroll{
    position: absolute;
  }

  .search-row {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;

    .search-bar {
      width: 100%;
      position: relative;
      flex: 1;

      .search-input {
        border-radius: 8px;
        font-family: 'Lato', sans-serif;
        padding: 15px;
        width: 100%;
        align-items: flex-start;
        border: none;
        background-color: #F6F6F6;

        &:focus {
          outline: solid 1px lightgrey;
        }
      }

      .grey-icon {
        color: #BDBDBD;
        position: absolute;
        right: 20px;
        top: 25%;
      }
    }

    @media only screen and (min-width: 768px) {
      padding: 20px 0px;
    }


  }

  .product-list {
    display: flex;
    width: 100%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 40px;
    max-height: 100vh;
    overflow-y: scroll;

    @media only screen and (min-width: 768px) {
      padding: 20px 0px;
    }

  }

  @media only screen and (min-width: 768px) {
    min-width: 35%;
    margin: auto;

  }

}
