<app-header-page pageTitle="Pesquisa"></app-header-page>
<div class="container">
  <div class="search-row">
    <div class="search-bar">
      <input class="search-input" label="search" type="text" placeholder="Pesquisar"
             [formControl]="searchControl"/>
      <fa-icon class="grey-icon" [icon]="faSearch"></fa-icon>
    </div>
    <button class="dark-blue-round-button"><fa-icon class="white-icon" [icon]="faFilter"></fa-icon></button>
  </div>
  <app-loader *ngIf="!products"></app-loader>
  <div class="product-list" *ngIf="products">
    <app-product-list-item *ngFor="let product of products" [product]="product"></app-product-list-item>
  </div>
</div>
