<app-toast *ngIf="previousRoute==='/login' && currentRoute==='/dashboard'" message="Login efetuado com sucesso" [success]="true"></app-toast>
<app-desktop-navbar *ngIf=
                      "currentRoute !== '/login'
                     && currentRoute!=='/welcome'
                     && currentRoute!=='/confirm-registration'
                     && currentRoute!=='/signup'
                     && currentRoute!=='/'"></app-desktop-navbar>
<app-header-page *ngIf=
                   "currentRoute !== '/login'
                     && currentRoute!=='/welcome'
                     && currentRoute!=='/confirm-registration'
                     && currentRoute!=='/signup'
                     && currentRoute !=='/dashboard'
                     && currentRoute!=='/'"></app-header-page>
<router-outlet></router-outlet>

<app-mobile-navbar *ngIf=
                     "currentRoute !== '/login'
                     && currentRoute!=='/welcome'
                     && currentRoute!=='/confirm-registration'
                     && currentRoute!=='/signup'
                     && currentRoute!=='/verify-account'
                     && currentRoute!=='/'"></app-mobile-navbar>


