<mat-form-field class="select">
  <mat-label>Superfícies</mat-label>
  <mat-select [formControl]="chainsFormControl">
    <mat-option *ngFor="let chainName of chainsList" [value]="chainName">{{chainName}}</mat-option>
  </mat-select>
</mat-form-field>
<div class="price-history-chart">
  <canvas baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [type]="lineChartType"
          [plugins]="lineChartPlugins">
  </canvas>
</div>

