.toast {

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  left: 0;


  .toast-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
    font-weight: 700;

    @media only screen and (min-width: 768px) {
      max-width: 35%;
      margin: auto;
    }

  }

  .toast-success {
    background-color: #009d06;
  }

  .toast-warning {
    background-color: #9d0000;
  }

  .toast-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20px;
    }
  }



}




