.toast {

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  .toast-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: 200;
    padding: 20px 10px;
  }

  .toast-success {
    background-color: #009d06;
  }

  .toast-warning {
    background-color: #9d0000;
  }

  .toast-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20px;
    }
  }

}


