<div class="toast" *ngIf="showToast" @fade>

  <div class="toast-success" *ngIf=success>
    <div class="toast-body">
      <div class="toast-message">
        {{ message }}
      </div>
      <div class="toast-icon">
        <fa-icon [icon]="faCheck"></fa-icon>
      </div>
    </div>
  </div>

  <div class="toast-warning" *ngIf=!success>
    <div class="toast-body">
      <div class="toast-message">
        {{ message }}
      </div>
      <div class="toast-icon">
        <fa-icon [icon]="faXmark"></fa-icon>
      </div>
    </div>
  </div>

</div>

