.card-item {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 90%;
  justify-content: space-around;
  box-shadow: 0 0 8.1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px 10px;
  margin: 10px auto;
  gap: 15px;

  .cheapest-in {
    font-size: 0.7em;
  }

  .first-row {
    display: flex;
    flex-direction: row;
    height: 24px;
    align-items: center;
    justify-content: space-between;

    .name, .name h3 {
      //overflow: hidden;
      //white-space: nowrap;
      //text-overflow: ellipsis;
    }

    .name {
      height: 24px;

      h3 {
        font-weight: 400;
        margin: 0 30px 0 0;
      }
    }

    .quantity {
      display: flex;

      .minus, .plus, .number {
        display: flex;
        background-color: #E0E0E0;
        border-radius: 8px;
        min-width: 24px;
        justify-content: center;
        align-items: center;

        h4 {
          font-weight: 400;
          margin: 0;
        }
      }

      .number {
        margin: 0 3px;
        padding: 0 8px;

        h4{
          margin-bottom: 2px;
        }

      }

      .minus, .plus {
        padding: 0 8px;

        &:hover{
          cursor: pointer;
        }

        h4 {
          margin-bottom: 2px;
        }
      }
    }
  }

  .second-row {
    display: flex;
    height: 24px;
    justify-content: flex-end;

    .price {
      display: flex;
      align-items: center;
      background-color: rgba(15, 114, 147, 0.2);
      padding-right: 8px;
      padding-left: 8px;
      border-radius: 10px;

      h4 {
        font-weight: 400;
        margin: 0;
      }

    }
  }

  .third-row {
    display: flex;
    justify-content: space-between;

    .first-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 5px;

      .chain-info-row{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .price {
        margin-left: 12px;

        h5 {
          font-weight: 400;
          margin: 0;
        }
      }
    }

    .second-column {
      color: rgba(219, 58, 52, 0.85);
      align-self: flex-end;

      &:hover{
        cursor: pointer;
      }

    }
  }
}


