<div class="card-item">

  <div class="first-row">
    <div class="name">
      <h3>Grão-de-bico Cozido</h3>
    </div>

    <div class="quantity">
      <div class="minus"><h4>-</h4></div>
      <div class="number"><h4>2</h4></div>
      <div class="plus"><h4>+</h4></div>
    </div>
  </div>

  <div class="second-row">
    <div class="price"><h4>1,30 €</h4></div>
  </div>

  <div class="third-row">
    <div class="first-column">
      <app-chain-sticker [chainId]="3" chainName="continente"></app-chain-sticker>
      <div class="price"><h5>0,65 € / un</h5></div>
    </div>
    <div class="second-column">
      <fa-icon [icon]="faTrashCan"></fa-icon>
    </div>
  </div>

</div>
