<div class="card-item" *ngIf="genericProductQuantity" [routerLink]="'/product-details/' + genericProductQuantity.genericProduct.id">
  <div class="first-row">
    <div class="name">
      <h3>{{genericProductQuantity.genericProduct.name}}</h3>
    </div>
    <div class="quantity">
      <div class="minus" (click)="updateList($event, genericProductQuantity.genericProduct.id, false)"><h4>-</h4></div>
      <div class="number"><h4>{{genericProductQuantity.quantity}}</h4></div>
      <div class="plus" (click)="updateList($event, genericProductQuantity.genericProduct.id, true)"><h4>+</h4></div>
    </div>
  </div>
  <div class="second-row">
    <div class="price"><h4>{{genericProductQuantity.value | number:'1.2-2' :'pt'}} €</h4></div>
  </div>
  <div class="third-row">
    <div class="first-column">
      <div class="grey-text cheapest-in" *ngIf="genericProductQuantity.genericProduct.chains.length > 1">Mais barato no(a):</div>
      <div class="chain-info-row">
        <app-chain-sticker [chainId]="genericProductQuantity.genericProduct.currentCheapestProduct.chain.id" [chainName]="genericProductQuantity.genericProduct.currentCheapestProduct.chain.name"></app-chain-sticker>
        <div class="price"><h5>{{genericProductQuantity.genericProduct.currentLowestPricePrimaryValue | number:undefined :'pt'}} €</h5></div>
      </div>
    </div>
    <div class="second-column" (click)="openRemoveDialog($event, genericProductQuantity.genericProduct.name, genericProductQuantity.genericProduct.id)">
      <fa-icon [icon]="faTrashCan"></fa-icon>
    </div>
  </div>
</div>
<div class="card-item" *ngIf="productQuantity">
  <div class="first-row">
    <div class="name">
      <h3>{{productQuantity.product.name}}</h3>
    </div>
    <div class="quantity">
      <div class="number"><h4>{{productQuantity.quantity}}</h4></div>
    </div>
  </div>
  <div class="second-row">
    <div class="price"><h4>{{productQuantity.value | number:'1.2-2' :'pt'}} €</h4></div>
  </div>
  <div class="third-row">
    <div class="first-column">
      <div class="chain-info-row">
      <app-chain-sticker [chainId]="productQuantity.product.chain.id" [chainName]="productQuantity.product.chain.name"></app-chain-sticker>
      <div class="price"><h5>{{productQuantity.product.prices[productQuantity.product.prices.length-1].primaryValue | number:undefined :'pt'}} €</h5></div>
      </div>
    </div>
    <div class="second-column">
    </div>
  </div>
</div>
