.container {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  margin: 20px auto auto auto;

  .row1 {
    display: flex;
    justify-content: flex-end;

    fa-icon {
      font-size: 16px;
      color: #0f7192;
      margin: 7px 10px 0 0;
    }
  }

  .row2 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    text-align: center;

    h4 {
      margin: 8px;
      font-weight: 400;
      opacity: 60%;
    }
  }

  .row3 {
    display: flex;
    justify-content: flex-end;

    fa-icon {
      color: #4CAF50;
      font-size: 30px;
      margin: 0 10px 8px 0;
    }
  }
}
