

<div class="user-panel">
  <h3>Painel do Utilizador</h3>
  <div class="user-icons">

    <a [routerLink]="'faltameter'" class="options">
        <h4>Lista de Compras</h4>
        <fa-icon [icon]="faCartShopping"></fa-icon>
    </a>

    <a [routerLink]="'faltameter'" class="options">
        <h4>Rotas</h4>
        <fa-icon [icon]="faRoute"></fa-icon>
    </a>

    <a [routerLink]="'faltameter'" class="options">
        <h4>Consultar histórico</h4>
        <fa-icon [icon]="faChartLine"></fa-icon>
    </a>

  </div>
</div>
