.user-panel {
  display: flex;
  max-width: 100%;
  margin: 10px 30px 30px 30px;
  justify-content: space-around;
  top: 0;

  .user-icons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;

    @media only screen and (min-width: 768px) {
      justify-content: space-between;
      margin-bottom: 40px;
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background-color: #0f7293;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
      aspect-ratio: 1;
      border-radius: 8px;
      width: 124px;
      cursor: pointer;

      @media only screen and (min-width: 768px) {
        max-width: 100%;
        width: 240px;
      }

      .title {
        z-index: 99999;
        position: absolute;

        h4 {
          margin: 0;
          text-align: center;
          color: #FFFFFF;
          font-weight: 400;
          padding: 15px;

          @media only screen and (min-width: 768px) {
            font-size: 40px;
          }
        }
      }

      fa-icon {
        color: #219EBC;
        font-size: 90px;

        @media only screen and (min-width: 768px) {
          font-size: 160px;
        }

      }
    }
  }
}



