<div class="user-panel">

  <div class="user-icons">

    <div class="options" [routerLink]="'/shopping-list'">
      <div class="title"><h4>Lista de Compras</h4></div>
      <fa-icon [icon]="faCartPlus"></fa-icon>
    </div>

    <div class="options" [routerLink]="'/routes'">
      <div class="title"><h4>Rotas</h4></div>
      <fa-icon [icon]="faRoute"></fa-icon>
    </div>

    <div class="options" [routerLink]="'/history'">
      <div class="title"><h4>Consultar histórico</h4></div>
      <fa-icon [icon]="faChartLine"></fa-icon>
    </div>
  </div>

</div>
