<div class="container" [routerLink]="'/shop-edit-product/'+product.productId">
  <div class="row1">
    <fa-icon [icon]="faPenToSquare" ></fa-icon>
    <h5>id: {{product.productId}}</h5>
  </div>
  <div class="details">
    <div class="image">
      <img [src]="product.imageUrl">
    </div>
    <div class="info">
      <div class="title"><h3>{{product.name}}</h3></div>
      <div class="qntd"><h5>{{product.quantity}}</h5></div>
      <div class="price">
        <div class="atual_price"><h5>{{product.pricePrimaryValue | number : undefined : 'pt'}}€</h5></div>
        <!--      <div class="previous_price"><h6>{{product.priceWoDiscount}}</h6></div>-->
      </div>
      <div class="qntd_price">
        <span class=""><h4>{{product.priceSecondaryValue | number : undefined : 'pt'}}</h4></span>
        <span class=""><h4>€/{{product.priceSecondaryUnit}}</h4> </span>
      </div>
      <div>
        <app-chain-sticker [chainId]="product.chainId" [chainName]="product.chain"
                           class="chain"></app-chain-sticker>
      </div>
    </div>
  </div>

</div>
