<div class="total-value" *ngIf="shoppingList">
  <fa-icon [icon]="faCoins"></fa-icon><h3>Total</h3><h3 style="font-weight: 600">{{(activeTab !== "tab3" ? shoppingList.cheapestListCost : shoppingList.fastestListCost) | number:'1.2-2' :'pt'}} €</h3>
</div>
<div class="container">
  <div class="tabs">
    <div (click)="onTabClick('tab1')" [ngClass]="{ 'active': activeTab === 'tab1' }" class="tab"><h4>A sua selecção</h4>
    </div>
    <div (click)="onTabClick('tab2')" [ngClass]="{ 'active': activeTab === 'tab2' }" class="tab"><h4>Mais barato</h4>
    </div>
    <div (click)="onTabClick('tab3')" [ngClass]="{ 'active': activeTab === 'tab3' }" class="tab"><h4>Mais rápido</h4>
    </div>
  </div>
  <div class="content" *ngIf="shoppingList">
    <div *ngIf="activeTab == 'tab1'" @slide>
      <ng-container *ngFor="let genericProductQuantity of shoppingList.genericProductQuantities">
        <app-product-card-item [genericProductQuantity]="genericProductQuantity"></app-product-card-item>
      </ng-container>
    </div>
    <div *ngIf="activeTab == 'tab2'" @slide>
      <ng-container *ngFor="let cheapestProductQuantity of shoppingList.cheapestProductQuantities">
        <app-product-card-item [productQuantity]="cheapestProductQuantity"></app-product-card-item>
      </ng-container>
    </div>
    <div *ngIf="activeTab == 'tab3'" @slide>
      <ng-container *ngFor="let fastestProductQuantity of shoppingList.fastestProductQuantities">
        <app-product-card-item [productQuantity]="fastestProductQuantity"></app-product-card-item>
      </ng-container>
    </div>
  </div>
</div>

