<h2 class="title">Em destaque</h2>
<app-highlight-carousel></app-highlight-carousel>
<h2 class="title">Painel de Utilizador</h2>
<!--<app-user-panel></app-user-panel>-->
<div class="user-panel">

  <div class="column1">
    <div class="title">
      <h2>Lista de Compras</h2>
      <app-product-card-item></app-product-card-item>
      <app-product-card-item></app-product-card-item>
      <app-product-card-item></app-product-card-item>
      <app-product-card-item></app-product-card-item>
    </div>

  </div>
  <div class="column2">
    <div class="title">
      <h2>Rotas</h2>
      <app-route-current></app-route-current>
    </div>

  </div>
  <div class="column3">
    <div class="title">
      <h2>Consultar histórico</h2>
      <app-history-route-summary-card></app-history-route-summary-card>
      <app-history-route-summary-card></app-history-route-summary-card>
      <app-history-route-summary-card></app-history-route-summary-card>
      <app-history-route-summary-card></app-history-route-summary-card>
      <app-history-route-summary-card></app-history-route-summary-card>

    </div>
  </div>
</div>



