.title {
  margin: 20px 30px;

  @media only screen and (min-width: 768px) {
    margin: 20px 0px 20px 5px;
  }

  .section-title {
    margin-bottom: 0px;
    margin-left: 5px;
  }

  .routes-title{
    @media only screen and (min-width: 768px) {
      margin-left: 15px;
    }
  }

}

.user-panel{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media only screen and (max-width: 1230px) {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;

    .empty-list-message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 50px;
      margin: auto;
      text-align: center;

      .icon {
        transform: rotate(-15deg);
        font-size: 1.3em;
        color: darkgrey;
      }

      .light-text {
        font-weight: 400;
      }

      .plus {
        display: flex;
        justify-content: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

        &:hover {
          cursor: pointer;
        }

        fa-icon {
          color: #0F7293;
          font-size: 30px;
        }

      }
    }

    .card-wrapper{
      display: flex;
      width: 80%;
      //min-width: 100%;
      margin: auto;
      align-self: center;
      flex-direction: column;
      border-radius: 8px;
      background: #FFF;
      //box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
      //max-height: 70vh;
      //overflow-y: scroll;
      justify-content: center;

      @media only screen and (min-width: 768px) {
        margin-left: 0;
        width: 80%;
        max-height: 70vh;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
    }

    .routes-wrapper {
      display: flex;
      padding: 0 20px;
      gap: 20px;
      //min-width: 100%;
      margin: auto auto 80px auto;
      align-self: center;
      flex-direction: column;
      border-radius: 8px;
      background: #FFF;
      justify-content: center;

      @media only screen and (min-width: 768px) {
        margin-left: 0;
        margin-top: 15px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
      }
    }

    .total-value {
      display: flex;
      border-radius: 8px;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
      align-items: center;
      justify-content: center;
      margin: 10px auto;
      gap: 13px;
      padding: 10px 18px 10px 18px;
      width: fit-content;

      @media only screen and (min-width: 768px) {
        margin-left: 10px;
      }

      h3 {
        font-weight: 400;
        margin: 0;
      }

      fa-icon {
        color: #0F7293;
        font-size: 22px;
      }

    }

    .info-container{
      flex-direction: column;
      display: flex;
      gap: 10px;
      width: 100%;
      .empty-list-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 50px;
        margin: auto;
        text-align: center;

        .icon {
          transform: rotate(-15deg);
          font-size: 4em;
          color: darkgrey;
        }

        .light-text {
          font-weight: 400;
        }

        .plus {
          display: flex;
          justify-content: center;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

          &:hover {
            cursor: pointer;
          }

          fa-icon {
            color: #0F7293;
            font-size: 30px;
          }

        }
      }
    }

  }
}

.carousel-desktop {

  @media only screen and (max-width: 768px) {
    display: none;
  }

}

.carousel-mobile {

  @media only screen and (min-width: 768px) {
    display: none;
  }

}


.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  //font-size: 1.5em;
  margin-top: 20px;

  .clear-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    color: white;
    background: #0F7293;
    padding: 10px;
    box-shadow: 0 0 8.1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    &:hover {
      cursor: pointer;
    }
  }

}

.list-changed-warning {
  display: flex;
  width: 100%;
  justify-content: center;
  border: solid 1px #EC8619;
  border-radius: 8px;
  gap: 10px;
  padding: 10px;
  margin: 5px 0;
  align-items: center;


  fa-icon {
    align-self: flex-start;
    color: #EC8619;
    font-size: 1.1em;
  }

}









