<h2 class="title">Em destaque</h2>
<app-highlight-carousel class="carousel-mobile"></app-highlight-carousel>
<app-highlight-carousel-desktop class="carousel-desktop"></app-highlight-carousel-desktop>
<!--<h2 class="title">Painel de Utilizador</h2>-->
<div class="user-panel">
  <div class="column">
    <div class="title">
      <h2 class="section-title">Lista de Compras</h2>
    </div>
    <div class="card-wrapper" [routerLink]="'/shopping-list'"
         *ngIf="shoppingList && shoppingList.cheapestProductQuantities.length !== 0">
      <div class="total-value" *ngIf="shoppingList">
        <fa-icon [icon]="faCoins"></fa-icon>
        <h3>Total</h3>
        <h3 style="font-weight: 600">{{(shoppingList.cheapestListCost) | number:'1.2-2' :'pt'}} €</h3>
      </div>
      <div class="product-card-item" *ngFor="let cheapestProductQuantity of shoppingList.cheapestProductQuantities">
        <app-product-card-item [productQuantity]="cheapestProductQuantity"></app-product-card-item>
      </div>
    </div>
    <div class="card-wrapper empty-list-message"
         *ngIf="!shoppingList || (shoppingList && shoppingList.cheapestProductQuantities.length == 0)">
      <fa-icon class="icon" [icon]="faCartShopping"></fa-icon>
      <p class="grey-text">A tua lista será apresentada aqui. Toca em “+” para começar a adicionar artigos!</p>
      <div class="plus" [routerLink]="'/search'">
        <fa-icon [icon]="faCirclePlus"></fa-icon>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="title">
      <h2 class="section-title routes-title">Rotas</h2>
    </div>

    <div class="card-wrapper empty-list-message"
         *ngIf="(!shoppingList || shoppingList.genericProductQuantities.length === 0)">
      <fa-icon class="icon" [icon]="faCartShopping"></fa-icon>
      <p class="grey-text light-text">Precisas de adicionar produtos à lista de compras antes de gerar rotas. Clica em
        "+" para adicionar produtos!</p>
      <div class="plus" [routerLink]="'/search'">
        <fa-icon [icon]="faCirclePlus"></fa-icon>
      </div>
    </div>
    <div class="card-wrapper empty-list-message" *ngIf="(shoppingList && shoppingList.genericProductQuantities.length !== 0)
    && (routes && routes!.length===0) || (!routes)">
      <fa-icon class="icon" [icon]="faRoute"></fa-icon>
      <p class="grey-text light-text">Não existem rotas disponiveis. Clica no botão abaixo para gerar rotas!</p>
      <div class="button-container">
        <div class="clear-button dark-blue-text" [routerLink]="'/create-route'">
          <fa-icon [icon]="faRoute"></fa-icon>
          <span>Gerar novas rotas</span>
        </div>
      </div>
    </div>

    <div class="routes-wrapper">
      <div *ngIf="showListChangedWarning" class="list-changed-warning">
        <fa-icon [icon]="faCircleExclamation"></fa-icon>
        <p class="warning-text no-margin-text">Lista de compras alterada. Deverás gerar novas rotas.</p>
      </div>
      <ng-container *ngIf="routes && cheapestRoute && fastestRoute && savings">
        <app-route-main-card
          [route]="cheapestRoute"
          [titleCard]="'Maior poupança'"
          [savings]="-savings"
          [showMap]="false"
        >
        </app-route-main-card>

        <app-route-main-card
          [route]="fastestRoute"
          [titleCard]="'Mais rápida'"
          [savings]="savings"
          [showMap]="false"
        >
        </app-route-main-card>
      </ng-container>
    </div>
  </div>
</div>



