<ng-container *ngIf="shoppingList && shoppingList.genericProductQuantities.length !== 0">
  <div class="container">
    <app-tab-menu-shopping-list [shoppingList]="shoppingList"></app-tab-menu-shopping-list>
  </div>
  <app-tab-menu-shopping-list-desktop [shoppingList]="shoppingList"></app-tab-menu-shopping-list-desktop>
</ng-container>

<app-loader class="loader" *ngIf="loading"></app-loader>
<div class="empty-list-message" *ngIf="shoppingList && shoppingList.genericProductQuantities.length === 0 || !shoppingList ">
  <fa-icon class="icon" [icon]="faCartShopping"></fa-icon>
  <h3 class="grey-text light-text">A tua lista será apresentada aqui. Toca em “+” para começar a adicionar artigos!</h3>
  <div class="plus" [routerLink]="'/search'">
    <fa-icon [icon]="faCirclePlus"></fa-icon>
  </div>
</div>

