.container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;

  mat-tab-group {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-top: 21px;
  }
}

:host ::ng-deep .mdc-tab-indicator__content {
  border: 0;
}

:host ::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs > .mat-mdc-tab-header .mat-mdc-tab {

  height: 26px;
  width: auto;
  padding-left: 7px;
  padding-right: 7px;

  &:not(.mdc-tab-indicator--active) {
    opacity: 0.7;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  }
}

:host ::ng-deep .mat-mdc-tab-body-wrapper {
  margin-top: 10px;
  margin-bottom: 21px;
}




