
    <div>
        <label for="name">Nome:</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="quantity">Quantidade:</label>
        <input id="quantity" type="text" formControlName="quantity">
    </div>
    <div>
        <label for="pricePrimaryValue">Preço Primário:</label>
        <input id="pricePrimaryValue" type="number" formControlName="pricePrimaryValue">
    </div>
    <div>
        <label for="priceSecondaryValue">Preço Secundário:</label>
        <input id="priceSecondaryValue" type="number" formControlName="priceSecondaryValue">
    </div>
    <div>
        <label for="priceSecondaryUnit">Unidade Secundária:</label>
        <input id="priceSecondaryUnit" type="text" formControlName="priceSecondaryUnit">
    </div>
    <div>
        <label for="imageUrl">URL da Imagem:</label>
        <input id="imageUrl" type="text" formControlName="imageUrl">
    </div>

    <button type="submit">Salvar Alterações</button>

